.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}
.navbar-logo img{
    display: block;
    width: 100%;
    height: auto;
  }
.navbar-icon{
    text-align:center; 	
    background:transparent;
    border: 0px solid rgba(transparent);
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    top:50px;
    left:10%;
    width:250px;
}
header{
    background: url(Imagenes/banner.jpg) no-repeat center;
    width: 100%;
    background-size: cover;
    min-height: 100vh;
}
header .navbar{
    background-color: transparent !important;
    font-weight: bold;
}

button{
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    background-color: rgb(204, 188, 17);
    border-radius: 2%;
}
button:hover{
    background-color: darkgoldenrod;

}
